{{> header}}

<div class="box3 news">
	<div class="title">News</div>
	<div class="content">
		<div>
			<span class="title">Welcome to our server</span>
			<span class="date">19/07</span>
		</div>
	</div>
</div>

{{> footer}}
