<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Critical Error</title>
		<link rel="stylesheet" href="/static/global.css" type="text/css" media="screen" title="" charset="utf-8" />
		<style type="text/css" media="screen">
			.content {
				margin-top:50px;
				color:#eee;
			}

			h1 {
				font-size:36px;
				text-shadow: 2px 2px #333;
			}

			h2 {
				font-size:28px;
				text-shadow: 2px 2px #333;
			}

			a {
				background:#004854;
				text-decoration:none;
				font-size:16px;
				color:#fff;
				width:150px;
				padding:10px 20px;
			}
		</style>
	</head>
	<body>
		<center>
			<img alt="" src="/static/images/logo-high-qual.png"></img>
			<div class="content">
				<h1>404</h1>
				<h2>Page not found :(</h2>
				</br></br>
				<a href="/">Go home!</a>
			</div>
		</center>
	</body>
</html>
