		</div>
		<div class="right">

			<div style="height:85px">
				<div style="float:left; margin-top:25px; margin-bottom:15px; margin-left:15px; font-size:15px;">
					<div>Kool-aid</div>
					<div class="HelveticaB"><span style="font-size:30px">1,500</span> ROPS</div>
				</div>
				<div style="float:right; text-align:right; margin:2px 25px;">
					<img alt="" src="/static/images/kool-aid.png" width="60" height="80" />
				</div>
			</div>

			<div class="box2">
				<div class="title">Facebook</div>
				<div class="content">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123121911169316";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-like-box" data-href="http://www.facebook.com/AesirWorldCommunity" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</div>
			</div>

		</div>
        <div style="clear: both;"></div>
	</div>
</div>
<div class="bottom">
	<div class="logo"></div>
	<div class="text">
	AESIRWORLD.COM &copy; 2014<br/>
	Ragnarok Online - Gravity Corp. & LeeMyougjin<br/>
	Open-Source Project
	</div>
	<div class="logo2"></div>
</div>
</body>
</html>
